section aside {
    margin: 0.5rem;
    padding: 0.5rem;
    --width-card: 85%;
    margin-bottom: 0.1rem;
}

.published_my,
.label,
.site {
    margin: 0rem;
}

.info {
    float: right;
}

.ui-btn-top {
    position: fixed;
    bottom: 20px;
    right: 5px;
}

.ui-btn-end {
    position: fixed;
    bottom: 60px;
    right: 5px;
}

header {
    padding-bottom: 0px;

}

nav {
    margin-bottom: 0px;
}